@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

html, body{
    background: black;
}
app{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(79,72,101,1) 29%, rgba(173,160,180,1) 100%);
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    overflow-y: auto;
}

.tls-font{
    font-family: 'Courier Prime', monospace !important;
}

.carousel-control-prev-icon{
    background: black;
    border-radius: 100%;
    padding: 1em;
    box-shadow: 0 3px 5px rgba(white,white,white,0.3);
}

.carousel-control-next-icon{
    background: black;
    border-radius: 100%;
    padding: 1em;
    box-shadow: 0 3px 5px rgba(white,white,white,0.3);

}

@media screen and (min-width: 700px){
    .carousel-item > .card{
        margin: 0 6em;
    }
}
@media screen and (min-width: 1400px){
    .carousel-item > .card{
        margin: 0 8em;
    }
}
@media screen and (max-width: 699px){
    .carousel-item > .card{
        margin: 0 3em;
    }
}
@media screen and (max-width: 499px){
    .carousel-item > .card{
        margin: 0 2em;
    }
}